﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    padding: 0px;
}

#navbar {
    background-color: #39baaa;
    height: 90px;
    padding: 0px;
}

#user-welcome {
    color: white;
}

#page-body {
    padding: 0px;
}

#todo-table {
    margin: 0 !important;
}

    #todo-table tr:first-child td {
        border-top: 0px;
    }

    #todo-table td {
        white-space: nowrap;
    }

.table-container {
    /*box-shadow: 0px 2px 7px 0px #9e9e9e;*/
    margin-top: 25px;
    box-shadow: 0 0 20px #EBEBEB;
    border-radius: 5px;
    padding: 10px;
}

.status-dropdown {
    border-radius: 25px;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

    .status-dropdown > option {
        background-color: white;
        color: black;
    }

.status-label {
    cursor: default !important;
    width: 100px;
    text-align: center;
}

.in-progress-status {
    color: #46BCFF;
    border: 2px solid #46BCFF;
}

.done-status {
    background-color: #00AB99;
    border: 2px solid #00AB99;
    color: white;
}

.to-do-status {
    color: #B1B1B1;
    border: 2px solid #B1B1B1;
}

.description-col {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 0px;
    border-left: 1px solid #dee2e6;
    border-spacing: 10px;
    color: #3F4044 !important;
}

#task-manger-nav-logo {
    height: 89px;
}

#create-icon {
    color: #46BCFF;
}

#create-label {
    color: #212529;
}

.manage-icon {
    color: #B1B1B1;
}

.todo-small {
    font-size: 12px;
}

.details-icon:hover {
    color: #00AB99;
}

.edit-icon:hover {
    color: #46BCFF;
}

.delete-icon:hover {
    color: #FF6464;
}

.duedate-icon {
    font-size: 12px;
}

.past-due {
    color: #FF6464;
}

.upcoming {
    color: #FFC700;
}

.on-target {
    color: #00AB99;
}

.index-header h3, .index-header h5 {
    margin: 20px 5px;
}

#past-due-progress {
    background-color: #FF6464;
}

#upcoming-progress {
    background-color: #FFC700
}

#on-target-progress {
    background-color: #00AB99;
}

.todo-progress {
    border-radius: 20px;
    height: 10px;
}

.form-input {
    border: #B1B1B1 solid 2px;
    caret-color: #46BCFF;
    padding: 5px;
    font-size: 12px;
}

    .form-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: lightgray;
        opacity: 1; /* Firefox */
    }

    .form-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: lightgray;
    }

    .form-input::-ms-input-placeholder { /* Microsoft Edge */
        color: lightgray;
    }

.form-textarea {
    height: 80px !important;
}

#form-submit-btn {
    border-radius: 20px;
    background-color: #46BCFF;
    padding: 6px 40px;
    color: white;
    border-bottom: 2px solid #2C99D7;
}

#form-cancel-btn {
    margin-right: 20px;
    color: #2C99D7;
    font-weight: bold;
    padding: 6px 40px;
}

#form-delete-btn {
    margin-right: 20px;
    color: #FF6464;
    font-weight: bold;
    padding: 6px 40px;
}

.form-delete-input {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #FF6464 !important;
    border-bottom: 2px solid #C82323 !important;
}

.form-btn-container {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.form-label {
    font-weight: bold;
    font-size: 12px;
    color: #3F4044;
}

.todo-description-title {
    color: #3F4044;
}

.description-list dt, .description-list dd {
    margin: 10px 0 20px 0;
    /*padding-left: 10px;*/
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

    a:hover {
        text-decoration: none !important;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin: 0 40px;
    font-family: sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
