﻿@page
@model TaskManager.Web.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="font-weight-bold pl-1">Create To Do</h4>

<div class="row mt-4">
    <div class="col-md-6">
        <form method="post">
            <input type="hidden" asp-for="ToDo.StatusId" value="1" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToDo.Title" class="control-label form-label"></label>
                <input asp-for="ToDo.Title" class="form-control form-input" placeholder="Title" />
                <span asp-validation-for="ToDo.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDo.Description" class="control-label form-label"></label>
                <textarea asp-for="ToDo.Description" class="form-control form-input form-textarea" placeholder="Description"></textarea>
                <span asp-validation-for="ToDo.Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 p-0">
                <label asp-for="ToDo.DueDate" class="control-label form-label"></label>
                <input asp-for="ToDo.DueDate" type="text" class="form-control form-input" placeholder="MM/DD/YYYY" />
                <span asp-validation-for="ToDo.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDo.Notes" class="control-label form-label"></label>
                <textarea asp-for="ToDo.Notes" class="form-control form-input form-textarea" placeholder="Notes"></textarea>
                <span asp-validation-for="ToDo.Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-btn-container">
                <a id="form-cancel-btn" asp-page="Index">Cancel</a>
                <input id="form-submit-btn" type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
