﻿@page
@model TaskManager.Web.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h4 class="font-weight-bold pl-1">Edit To Do</h4>
<div class="mt-5 col-md-6">
    <div class="@Model.ToDo.StatusClass status-dropdown status-label">
        @Model.ToDo.StatusName
    </div>
    <dl class="description-list row mt-3">
        <dt class="col-sm-2 form-label">
            @Html.DisplayNameFor(model => model.ToDo.Title)
        </dt>
        <dd class="col-sm-10 form-input border-0">
            @Html.DisplayFor(model => model.ToDo.Title)
        </dd>
        <dt class="col-sm-2 form-label">
            @Html.DisplayNameFor(model => model.ToDo.Description)
        </dt>
        <dd class="col-sm-10 form-input border-0">
            @Html.DisplayFor(model => model.ToDo.Description)
        </dd>
        <dt class="col-sm-2 form-label">
            @Html.DisplayNameFor(model => model.ToDo.DueDate)
        </dt>
        <dd class="col-sm-10 form-input border-0">
            @Html.DisplayFor(model => model.ToDo.DueDate)
        </dd>
        <dt class="col-sm-2 form-label">
            @Html.DisplayNameFor(model => model.ToDo.Notes)
        </dt>
        <dd class="col-sm-10 form-input border-0">
            @Html.DisplayFor(model => model.ToDo.Notes)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ToDo.Id" />
        <input id="form-submit-btn" class="float-right form-delete-input" type="submit" value="Delete" />
        <a id="form-cancel-btn" class="float-right" asp-page="./Index">Cancel</a>
    </form>
</div>
