﻿@page
@model TaskManager.Web.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h4 class="font-weight-bold pl-1">To Do Details</h4>

<div class="mt-5 col-md-6">
    <div class="@Model.ToDo.StatusClass status-dropdown status-label">
        @Model.ToDo.StatusName
    </div>
    <dl class="description-list row mt-3">
        <dt class="col-sm-2 form-label">
            @Html.DisplayNameFor(model => model.ToDo.Title)
        </dt>
        <dd class="col-sm-10 form-input border-0">
            @Html.DisplayFor(model => model.ToDo.Title)
        </dd>
        <dt class="col-sm-2 form-label">
            @Html.DisplayNameFor(model => model.ToDo.Description)
        </dt>
        <dd class="col-sm-10 form-input border-0">
            @Html.DisplayFor(model => model.ToDo.Description)
        </dd>
        <dt class="col-sm-2 form-label">
            @Html.DisplayNameFor(model => model.ToDo.DueDate)
        </dt>
        <dd class="col-sm-10 form-input border-0">
            @Model.ToDo.DueDate.ToString("MM/dd/yy")
        </dd>
        <dt class="col-sm-2 form-label">
            @Html.DisplayNameFor(model => model.ToDo.Notes)
        </dt>
        <dd class="col-sm-10 form-input border-0">
            @Html.DisplayFor(model => model.ToDo.Notes)
        </dd>
    </dl>
    <div>
        <a id="form-delete-btn" asp-page="./Delete" asp-route-id="@Model.ToDo.Id">Delete</a>
        <a id="form-submit-btn" class="float-right" asp-page="./Edit" asp-route-id="@Model.ToDo.Id">Edit</a>
        <a id="form-cancel-btn" class="float-right" asp-page="./Index">Back to List</a>
    </div>

</div>