﻿@page
@model TaskManager.Web.Pages.IndexModel
<div class="index-header">
    <h3>To Dos</h3>
    <h5>
        <a asp-page="Create"><i class="bi bi-plus-circle" id="create-icon"></i><span id="create-label">   Create</span> </a>
    </h5>
</div>

@if (Model.ToDos.Count() == 0)
{
    <span>There is no data available to display.</span>
}
else
{
    <div class="progress todo-progress">
        <div id="past-due-progress" class="progress-bar" role="progressbar" style="width: @($"{Model.ToDoProgress.PastDuePercent}%")" aria-valuenow="@(Model.ToDoProgress.PastDuePercent)" aria-valuemin="0" aria-valuemax="100"></div>
        <div id="upcoming-progress" class="progress-bar" role="progressbar" style="width: @($"{Model.ToDoProgress.UpcomingPercent}%")" aria-valuenow="@(Model.ToDoProgress.UpcomingPercent)" aria-valuemin="0" aria-valuemax="100"></div>
        <div id="on-target-progress" class="progress-bar" role="progressbar" style="width: @($"{Model.ToDoProgress.OnTargetPercent}%")" aria-valuenow="@(Model.ToDoProgress.OnTargetPercent)" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="table-responsive table-container">
        <table class="table" id="todo-table">
            <tbody>
                @foreach (var item in Model.ToDos)
                {
                    <tr id="todo-@item.Id" data-id="@item.Id" data-title="@item.Title" data-description="@item.Description" data-dueDate="@item.DueDate.ToString("yyyy-MM-dd HH:mm:ss")" data-notes="@item.Notes" data-status="@item.StatusId">
                        <td class="col-xs-auto">
                            @Html.DropDownListFor(modelItem => item.StatusId, Model.Statuses, new { @class = $"status-dropdown {item.StatusClass}", @id = $"select-{item.Id}", data_id = $"{item.Id}" })
                        </td>
                        <td class="col description-col">
                            <a asp-page="./Details" asp-route-id="@item.Id"><span class="todo-description-title font-weight-bold">@item.Title</span></a>&emsp;<span class="todo-small">@item.Description</span>
                        </td>
                        <td class="col col-md-2">
                            <div class="manage-icon-container">
                                <a asp-page="./Details" asp-route-id="@item.Id"><i class="bi bi-info-circle-fill details-icon manage-icon"></i></a>
                                <a asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-gear-fill edit-icon manage-icon"></i></a>
                                <a asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill delete-icon manage-icon"></i></a>
                            </div>
                        </td>
                        <td class="col col-md-1">
                            <i class="bi bi-circle-fill duedate-icon @item.DueDateIndicatorClass"></i>&emsp;<span class="todo-small">Due</span>
                        </td>
                        <td class="col col-md-1">
                            <span class="todo-small font-weight-bold">@item.DueDate.ToString("M/dd/yy")</span>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script>
    const _apiUri = '@Model.ApiUriBase';
</script>
